
.banner {
    position: relative;
    text-align: left;
    color: white;
    overflow: hidden;
    background-color: #000;
    background-image: url("../IMG/Fonds/fond1.jpg");
    height: 550px;
}

.text-content {
    top: 50%;
    margin-left: 5%;
    margin-top: 40px;
}

.text-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 20px;
    margin: 0;
}

.veille-def {
    color: black;
    padding: 20px;
}

.veille-def h3 {
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.veille-def p {
    margin-top: 20px;
    font-size: 18px;
    margin: 0;
}

.contenu-ex {
    background-color: #d3d3d3;
    text-align: center;
    margin-top: 5px;
}

.contenu-ex h4 {
    color: black;
    font-size: 24px;
    margin-bottom: 40px;
}

.images-contenu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.images-contenu .image-box {
    text-align: center;
}

.images-contenu img {
    width: 40%;
    height: auto;
    border-radius: 50%;
    border: 2px solid black;
}

.images-contenu h5 {
    font-size: 18px;
    margin-top: 10px;
}

.images-contenu p {
    font-size: 14px;
    margin: 5px 0;
    margin-bottom: 40px;
}

.container{
    margin-top:50px;
}

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}